{% load static %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app.css' %}"/>
<script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>
</head>

<body>
<div class="row">

</div>
<div class="row">
  <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
    <h1><a href="#">N&#x014d;tifs</a></h1>
    <li>
  </ul>

{% if user.is_active %}  
  <section class="top-bar-section">
  <ul class="right">
    <li class="has-dropdown"><a href="#">{% if user.first_name or user.last_name %}
    {{ user.first_name }} {{ user.last_name }}
  {% else %}
    {{ user.username }}
  {% endif %}
</a>
    <ul class="dropdown">
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </li>
</ul>

<ul class="left">
  <li {% if page == 'notif' %} class="active"{% endif %}><a href="{% url 'notif' %}">Notices</a></li>
  <li class="has-dropdown"><a href="#">Authorizations</a>
  <ul class="dropdown">
    <li {% if page == 'auth' %} class="active"{% endif %}><a href="{% url 'auth' %}">Current</a></li>
    <li {% if page == 'authorize' %} class="active"{% endif %}><a href="{% url 'authorize' %}">New</a></li>
  </ul></li>

  <li class="has-dropdown"><a href="#">Alerts</a>
  <ul class="dropdown">
    <li {% if page == 'rules' %} class="active"{% endif %}><a href="{% url 'rules' %}">Rules</a></li>
    <li {% if page == 'methods' %} class="active"{% endif %}><a href="{% url 'methods' %}">Methods</a></li>
    </ul></li>

  {% if user.is_staff %}
  <li class="has-dropdown"><a href="#">Settings</a>
  <ul class="dropdown">
    <li {% if page == 'settings' %} class="active"{% endif %}><a href="{% url 'settings' %}">User</a></li>
    <li {% if page == 'sitesettings' %} class="active"{% endif %}><a
    href="{% url 'sitesettings' %}">Site</a></li>
  </ul></li>
  {% else %}
  <li {% if page == 'settings' %} class="active"{% endif %}><a href="{% url 'settings' %}">Settings</a></li>
  {% endif %}
</ul>
</section>
{% endif %}
</nav>
  
</div>
<div class="row">
  <h3>{% block subtitle %}{% endblock %}</h3>
</div>
<div class="row">
{% block middle %}{% endblock %}
</div>
<script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
<script src="{% static 'foundation/js/vendor/fastclick.js' %}"></script>
<script src="{% static 'foundation/js/foundation.min.js' %}"></script>
<script>
$(document).foundation();
</script>
</body> </html>
